:root {
  --white: #ffffff;
  --faded-black: #181818;
  --serious-green: #85a68c;
  --serious-orange: #ffc273;
  --serious-brown: #bf9e80;
  --serious-red: #ea7a7a;
  --light-gray: #f4f4f4;
  --medium-gray: #d6d6d6;
  --dark-gray: #a9a9a9;
  --black: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--faded-black);
  color: var(--white);
}

.header h1 {
  margin: 0;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--medium-gray);
}

.nav-links a:hover {
  text-decoration: none;
  color: var(--white);
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--faded-black);
    position: absolute;
    top: 100%;
    left: 0;
  }

  .nav-links.nav-open {
    display: flex;
  }

  .nav-links li {
    margin: 0;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--dark-gray);
  }

  .nav-links li:first-child {
    border-top: none;
  }
}
