:root {
  --white: #ffffff;
  --faded-black: #181818;
  --serious-green: #85a68c;
  --serious-orange: #ffc273;
  --dark-serious-orange: #cc9756;
  --serious-brown: #bf9e80;
  --serious-red: #ea7a7a;
  --light-gray: #d6d6d6;
  --medium-gray: #a9a9a9;
  --dark-gray: #5a5a5a;
  --black: #000000;
  --dark-background: #333333;
  --sidebar-background: #282828;
  --accent-color: #d1b89d;
}

/* General Styles */

.calendar-container-home {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  background-color: var(--faded-black);
}

.calendar-view-home {
  max-height: 90vh;
  background-color: var(--light-gray);
  border-radius: 2rem;
  padding: 5%;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.month-header {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  padding: 2rem;
}

.calendar-header-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.month-title {
  font-size: 2em;
  font-weight: 900;
  color: var(--black);
}

/* .navigation-buttons button {
  background-color: var(--black);
  border: none;
  padding: 0.2rem 0.2rem;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--white);
} */

.prev-month-button {
  background-color: var(--black);
  padding: 0.5em;
  border: none;
  border-radius: 50%; /* Ensures the button is perfectly round */
  cursor: pointer;
  color: var(--white);
  display: flex; /* Aligns items in the center */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.next-month-button {
  background-color: var(--black);
  padding: 0.5em;
  border: none;
  border-radius: 50%; /* Ensures the button is perfectly round */
  cursor: pointer;
  color: var(--white);
  display: flex; /* Aligns items in the center */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
.next-month-button:hover {
  background-color: var(--faded-black);
}

.prev-month-button:hover {
  background-color: var(--faded-black);
}

.calendar-mnd-container {
  padding: 0.1vw;
  max-width: 100%;
  max-height: 100%;
}

.weekday-labels-home-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  color: var(--medium-gray);
  margin-bottom: 1rem;
  gap: 0.5em;
}

.weekday-label-home {
  padding: 0.5rem 0;
  font-weight: 300;
  font-size: 1.2em;
  color: var(--faded-black);
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.1em;
}

.day-container {
}

.day-button {
  border: none;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  cursor: pointer;
  border-radius: 0.8em;
  color: var(--faded-black);
  position: relative;
  font-weight: 400;
  font-size: 1em;
}

.day-button:hover {
  background-color: var(--medium-gray);
  color: var(--faded-black);
  font-weight: 700;
}

.selected-month {
  background-color: var(--white);
  color: var(--light-gray);
}

.selected-day {
  background-color: var(--dark-background);
  color: var(--white);
}

.today {
  background-color: var(--black);
  color: var(--white);
  font-weight: 800;
}

.meeting-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--serious-red);
  border-radius: 50%;
  position: absolute;

  top: 0.2rem;
  right: 0.1rem;
}

.schedule-view {
  border-radius: 0.5rem;
  padding-bottom: 1.5rem;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
}
.schedule-view-container {
  display: grid;
  gap: 1rem;
  overflow-y: auto;
  padding-right: 10px;
  max-height: 80%;
}

.schedule-title {
  font-size: 2.5rem;
  padding: 1rem;
  font-weight: 800;
  color: var(--white);
}

.meeting-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: var(--faded-black);
}

.task-card {
  background-color: var(--light-gray);
  padding: 1.4rem;
  border-radius: 1.5rem;
}
/* .meeting-list {
  list-style-type: none;
  padding: 0;
} */

.meeting-time-date-container {
  display: grid;
}
.meeting-time {
  color: var(--faded-black);
  font-size: 1.7em;
  font-weight: 800;
}
.meeting-date {
  color: var(--faded-black);
  font-size: 1.4em;
  font-weight: 200;
}

.meeting-service {
  font-weight: 600;
  font-size: 1.2em;
}

.breakpoint {
  padding: 2rem;
}

.meeting-client-container {
  display: flex;
  justify-content: space-between;
}
.meeting-client-name {
  color: var(--faded-black);
}
.meeting-client-email {
  color: var(--faded-black);
  font-weight: 900;
}
.meeting-location {
  color: var(--faded-black);
  font-weight: 800;
}

.delete-meeting-button {
  background-color: var(--black);
  color: var(--accent-color);
  border: 2px solid var(--black); /* Corrected border declaration */
  padding: 0.8rem;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 0.6rem;
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.meeting-notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meeting-notes {
  max-width: 60%;
  color: var(--faded-black);
}
.user-info-container {
  font-family: "Inter", sans-serif;
  padding: 2rem;
  background-color: var(--sidebar-background);
  border-radius: 1rem;
  overflow-y: auto;
}

.general-info-container {
}

.user-info-heading {
  padding-bottom: 1rem;
}

.user-info-username {
  margin-top: -1rem;
  font-size: 1.5rem;
  font-weight: 200;
  padding-bottom: 2rem;
}

.user-info-h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
}

.user-info-span {
  font-size: 0.8rem;
  font-weight: 200;
}

.user-info-org-button {
  background-color: var(--accent-color);
  color: var(--faded-black);
  font-weight: 500;
  border: 2px solid var(--dark-gray); /* Corrected border declaration */
  padding: 0.6rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 0.2rem 2px;
  width: 100%;
}
.user-info-org-button:hover {
  background-color: var(--serious-brown);
  color: var(--faded-black);
}

.user-info-settings-button {
  background-color: var(--dark-background);
  color: var(--light-gray); /* Assuming this is the desired text color */
  border: 2px solid var(--dark-gray); /* Corrected border declaration */
  padding: 0.6rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin-top: 0.1rem;
  margin: 0.2rem 2px;
  width: 100%;
}

.user-schedule-settings-button {
  background-color: var(--black);
  color: var(--light-gray); /* Assuming this is the desired text color */
  border: 2px solid var(--dark-gray); /* Corrected border declaration */
  padding: 0.6rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin-top: 0.1rem;
  margin: 0.2rem 2px;
  width: 100%;
}

/* New Class for outside month days */
.outside-month {
  color: var(--medium-gray);
  font-weight: 500;
}

.availability-registration-container form {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Split into three equal columns */
  gap: 1rem; /* Reduce the gap between columns */
}

.availability-registration-container form div {
  display: flex;
  flex-direction: column;
}

/* Adjust the width of full-width elements */
.availability-registration-container form div:nth-child(3),
.availability-registration-container form div:nth-child(4),
.availability-registration-container form div:nth-child(5),
.availability-registration-container form div:nth-child(6) {
  grid-column: 1 / -1; /* Span all columns */
}

/* Center the submit button */
.availability-registration-container form div:last-child {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.availability-registration-container {
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--sidebar-background);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.availability-registration-container h2 {
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.availability-registration-container form {
  display: grid;
  gap: 1rem;
}

.availability-registration-container form div {
  display: flex;
  flex-direction: column;
}

.availability-registration-container form label {
  color: var(--light-gray);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.availability-registration-container form input,
.availability-registration-container form select {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--dark-gray);
  background-color: var(--faded-black);
  color: var(--accent-color);
}

.availability-registration-container form input[type="checkbox"] {
  margin-right: 0.5rem;
}

.availability-registration-container form button {
  background-color: var(--accent-color);
  color: var(--faded-black);
  font-weight: 700;
  border: 2px solid var(--dark-gray); /* Corrected border declaration */
  padding: 0.6rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.2rem 2px;
  width: 100%;
}

.availability-registration-container form button:hover {
  background-color: var(--serious-orange);
}

@media (max-width: 1200px) {
  .calendar-container-home {
    display: block;
  }
  .availability-registration-container form {
    display: flex;
    gap: 1rem;
  }

  .schedule-view {
    background-color: var(--sidebar-background);
    border-radius: 0.5rem;
    padding: 1.5rem;
    min-width: 100%;
  }

  .day-button {
    border: none;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    height: 100%;
    background-color: var(--faded-black);
    cursor: pointer;
    border-radius: 0.5em;
    color: var(--accent-color);
    position: relative;
    font-weight: 400;
    font-size: 0.8em;
  }
}
